.shimmer {
    position: relative;
    overflow: hidden;
  }
  
  .shimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    height: 100%;
    width: 150%;
    background: linear-gradient(
      to right,
      transparent 0%,
      rgba(255, 255, 255, 0.2) 50%,
      transparent 100%
    );
    animation: shimmer 1.5s infinite;
    transition: background 0.3s ease-in-out;
  }
  
  /* Dark mode shimmer lebih soft */
  .dark .shimmer::after {
    background: linear-gradient(
      to right,
      transparent 0%,
      rgba(255, 255, 255, 0.05) 50%,
      transparent 100%
    );
  }
  
  @keyframes shimmer {
    100% {
      left: 100%;
    }
  }
  